.moduleItem {
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 2px solid rgba(0, 0, 0, 0.50);
    background: #FFF;
    margin: 9px 0 5px 0;
}

.icon {
    margin: 5px;
    color: black;
    width: 45px;
}

.text {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 5px;
}