.cardWrapper {
    display: flex;
    width: 100%;
}

.icon {
    width: 100px;
    height: 100px;
    /*background-color: black;*/
    padding: 5px;
}

.inputWrapper {
    width: 100%;
    display: inline-table;
    padding: 5px;
}