.moduleCardItem {
    margin: 10px;
}

.delete {
    display: flex;
    justify-content: right;
}

.cardWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.icon {
    width: 100px;
    height: 100px;
    /*background-color: black;*/
    padding: 5px;
}

.icon.delete {
    border-radius: 50%;
    /*background-color: blue;*/
    cursor: pointer;
    margin: 0 5px 0 auto;
    width: 45px;
    height: 45px;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.icon.delete:hover   {
    scale: 1.2;
    opacity: 1;
}

.inputWrapper {
    width: 100%;
    display: inline-table;
    padding: 5px;
}

.inputContainer {
    padding: 5px;
}