.groupItem {

}

.title {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.titleText {
    margin: 5px 0 5px 10px ;
    color: #000;
    font-size: 40px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.moduleList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.moduleList.active {
    max-height: 100dvmax;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}