.groupItem {
    border-radius: 10px;
    border: 3px solid #000;
    background: rgba(255, 255, 255, 0.00);
    margin: 11px 0 11px 0;
}

.titleHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleText {
    margin: 5px 0 5px 10px ;
    color: #000;
    font-size: 46px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

.icon {
    margin: 15px;
    width: 59px;
    height: 59px;
}

.moduleList {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0;
}

.moduleList.active {
    max-height: 100dvmax;
    opacity: 1;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}