.auth {
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 60%;
    border-radius: 15px;
    background: #F0F0F0;
    box-shadow: 0px 4px 9.6px 4px rgba(0, 0, 0, 0.19);
}

.auth-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    width: 90%
}

.auth-title-text {

    /*margin: 35px;*/
    color: #000;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.auth-inputs-wrapper {
    width: 80%;
}

.auth-input-wrapper {
    width: 100%;
}

.auth-separator {
    border: 1px solid black;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 25px;
}
