.card {
    border: 1px solid black;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 16px;
    margin: 16px;
}

.title {
    font-size: 20px;
    font-weight: normal;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.text {
    margin-left: 8px;
}

.img {
    align-items: center;
    margin-left: auto ;
    display: flex;
}

.li {
    display: flex;
    align-items: center;
}

.star {

}

.icon {
    width: 50px;
    height: 50px;
}